<tr><td class="comment-details"><%= link_to comment.user.username, comment.user %>| <%= comment.created_at %> | on: <%= link_to comment.post.title, comment.post %></td></tr>
  <tr><td><%= comment.content %></td></tr>
  <tr><td class="spacer"></td></tr>
